*.py[cod]
*.idea
*.swn
.env_python27/*
.env*
.env_python3/*
*.swp
*.swo
*.p
# C extensions
*.so

# Packages
*.egg
*.egg-info
.DS_Store
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__
.spec
harren.spec
entry_point.spec

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# PyInstaller
src/harren/dist
src/harren/build
src/harren/entry_point.spec
